---
import GlobeIcon from "./GlobeIcon.astro";
import HelpIcon from "./HelpIcon.astro";
import Logo from "./Logo.astro";
import PersonIcon from "./PersonIcon.astro";

import NavbarVehiclesSection from "./NavbarVehiclesSection.astro";
import NavbarEnergySection from "./NavbarEnergySection.astro";
import NavbarChargingSection from "./NavbarChargingSection.astro";
import NavbarDiscoverSection from "./NavbarDiscoverSection.astro";
import NavbarShopSection from "./NavbarShopSection.astro";
---

<header
  id="landing-header"
  class={`
    isolate py-3 px-12 flex items-center fixed top-0 w-full justify-between z-40 text-white

    [&:has(li:hover)]:text-gray-900
    [&:has(#navbar-container:hover)]:text-gray-900
    [&:has(li:hover)>#navbar-container]:opacity-100
    [&:has(#navbar-container:hover)>#navbar-container]:opacity-100

    [&:has(#vehicles-btn:hover)>#navbar-container>#vehicles-section]:grid-rows-[1fr]
    [&:has(#vehicles-btn:hover)>#navbar-container>#vehicles-section]:pt-32
    [&:has(#vehicles-btn:hover)>#navbar-container>#vehicles-section]:opacity-100
    [&:has(#vehicles-btn:hover)>#navbar-container>#vehicles-section]:pb-16

    [&:has(#energy-btn:hover)>#navbar-container>#energy-section]:grid-rows-[1fr]
    [&:has(#energy-btn:hover)>#navbar-container>#energy-section]:pt-32
    [&:has(#energy-btn:hover)>#navbar-container>#energy-section]:opacity-100
    [&:has(#energy-btn:hover)>#navbar-container>#energy-section]:pb-16

    [&:has(#charging-btn:hover)>#navbar-container>#charging-section]:grid-rows-[1fr]
    [&:has(#charging-btn:hover)>#navbar-container>#charging-section]:pt-32
    [&:has(#charging-btn:hover)>#navbar-container>#charging-section]:opacity-100
    [&:has(#charging-btn:hover)>#navbar-container>#charging-section]:pb-16

    [&:has(#discover-btn:hover)>#navbar-container>#discover-section]:grid-rows-[1fr]
    [&:has(#discover-btn:hover)>#navbar-container>#discover-section]:pt-32
    [&:has(#discover-btn:hover)>#navbar-container>#discover-section]:opacity-100
    [&:has(#discover-btn:hover)>#navbar-container>#discover-section]:pb-16

    [&:has(#shop-btn:hover)>#navbar-container>#shop-section]:grid-rows-[1fr]
    [&:has(#shop-btn:hover)>#navbar-container>#shop-section]:pt-32
    [&:has(#shop-btn:hover)>#navbar-container>#shop-section]:opacity-100
    [&:has(#shop-btn:hover)>#navbar-container>#shop-section]:pb-16
  `} 
>
  <div class="flex flex-grow basis-0">
    <Logo />
  </div>

  <nav>
    <ul
      class={`
        isolate flex text-sm [&>li>a]:transition-colors 
        [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium 
        [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 
    `}
    >
      <li id="vehicles-btn" ><a href="#">Vehicles</a></li>
      <li id="energy-btn" ><a href="#">Energy</a></li>
      <li id="charging-btn" ><a href="#">Charging</a></li>
      <li id="discover-btn" ><a href="#">Discover</a></li>
      <li id="shop-btn" ><a href="#">Shop</a></li>
    </ul>
    <div
      id="menu-backdrop"
      class={`
      absolute bg-black/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-[1]
    `}
    >
    </div>
  </nav>

  <nav class="flex gap-1 flex-grow basis-0 justify-end">
    <a
      class="text-current size-8 rounded p-1 hover:bg-white/5 hover:backdrop-blur-sm transition"
      href="#"
    >
      <HelpIcon />
    </a>

    <a
      class="text-current size-8 rounded p-1 hover:bg-white/5 hover:backdrop-blur-sm transition"
      href="#"
    >
      <GlobeIcon />
    </a>

    <a
      class="text-current size-8 rounded p-1 hover:bg-white/5 hover:backdrop-blur-sm transition"
      href="#"
    >
      <PersonIcon />
    </a>
  </nav>

  <section 
    id="navbar-container" 
    class={`
      grid absolute left-0 top-0 px-12 -z-10 opacity-0 transition-[opacity] 
      w-full bg-white duration-500
    `}>

    <NavbarVehiclesSection />

    <NavbarEnergySection />

    <NavbarChargingSection />

    <NavbarDiscoverSection />

    <NavbarShopSection />
    
  </section>
</header>

<script>
  const listItems = document.querySelectorAll("#landing-header li");
  const menuBackdrop = document.querySelector("#menu-backdrop") as HTMLElement;
  menuBackdrop.style.setProperty("--left", `${window.innerWidth / 2}px`);

  listItems.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackdrop.style.setProperty("--left", `${left}px`);
      menuBackdrop.style.setProperty("--top", `${top}px`);
      menuBackdrop.style.setProperty("--width", `${width}px`);
      menuBackdrop.style.setProperty("--height", `${height}px`);

      menuBackdrop.style.opacity = "1";
      menuBackdrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackdrop.style.opacity = "0";
      menuBackdrop.style.visibility = "hidden";
    });
  });
</script>

<script>
  const headerElement = document.querySelector(
    "#landing-header"
  ) as HTMLElement;

  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.9,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;

      if (isIntersecting) {
        const textColor = entry.target.getAttribute("data-header-color");

        headerElement.classList.remove(...["text-white", "text-gray-900"]);
        headerElement.classList.add(textColor);
      }
    });
  }, observerOptions);

  const sectionElements = document.querySelectorAll(".landing-section");
  sectionElements.forEach((section) => observer.observe(section));
</script>
